@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --color-1: rgba(20, 20, 20, 0.726); 
    --borderr: 0px;
    --color-2: rgb(111, 226, 255);
    --color-3: rgb(128, 140, 255);
}
::-webkit-scrollbar {
    width: 0px;
  }

html {
    background: rgb(34, 34, 34); 

}
* {
    margin: 0;
    padding: 0;
}
.navbar {
    margin: 5px;
    background-color: var(--color-1);
    overflow: hidden;
    border-top: 1px solid white;
    border-image: linear-gradient(120deg, var(--color-2), var(--color-3)) 1;

}
.div-ponds {
    background-color: var(--color-1);
    height: 95.5%;
    width: 20%;
    margin: 5px;
    position: fixed;
    bottom: 0;
    border-radius: var(--borderr);
}
.div-terminal {
    background-color: var(--color-1);
    height: 20%;
    width: 79%;
    bottom: 0;
    margin-bottom: 5px;
    margin: 5px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 999;
    border-radius: var(--borderr);

}

.div-content {
    bottom: 0;
    background-color: var(--color-1);
    right: 0;
    width: 79%;
    height: 95.5%;
    position: fixed;
    margin: 5px;
    border-radius: var(--borderr);
    overflow: scroll;
}
.fiish {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    display: inline-block;
    background: -webkit-linear-gradient(360deg, var(--color-2), var(--color-3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: min-content;
}
.version-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    background: -webkit-linear-gradient(360deg, rgba(0, 0, 0, 0), rgba(255, 102, 102, 0.425));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: min-content;
    transition: 3s;
    background-size: 200% auto;
    animation: shine 8s linear infinite;

}
@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.version-text:hover {


}
.money-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    display: inline-block;
    float: right;
}

.side-button-main {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    color: white;
    margin-bottom: 5px;
    border: 1px solid transparent;
    font-size: 25px;
    box-shadow: 0px 0px 3px black;
    transition: 0.3s;
    text-align: left;

}
.side-button-main:hover {
    box-shadow: 0px 0px 3px var(--color-2);
    color: var(--color-2);
    cursor: pointer;
}
.side-icon {
    background: -webkit-linear-gradient(var(--color-2), var(--color-3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    vertical-align: middle;

  }
.side-button-sub {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    color: white;
    border: 1px solid transparent;
    font-size: 20px;
    transition: 0.3s;
    text-align: center;

}
.material-symbols-outlined {
    vertical-align: middle;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  
.div-contentbox {
    display: inline-block;
    width: 49%;
    background-color: rgb(46, 46, 46);
    margin-top: 15px;
    border-top: 1px solid white;
    border-image: linear-gradient(120deg, var(--color-2), var(--color-3)) 1;
    height: 400px;
    vertical-align: top;
    overflow: scroll;
}
.div-cont-cat {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.action-btn {
    width: 99%;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-1);
    color: white;
    border: 1px solid transparent;
    box-shadow: 0px 0px 2px black;
    transition: 0.3s;
}
.pond-selectbtn {
    width: 90%;
}
.action-btn:hover {
    box-shadow: 0px 0px 2px var(--color-2);
    cursor: pointer;
    
}
.pond-btn {
    margin-top: 5px;
}
.log-input {
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: transparent;
    margin-bottom: 5px;
    border: 0px;
}
.log-text {
    font-family: 'Source Code Pro', monospace;
    color: white;
}
.nav-userinf {
    bottom: 0;
    position: fixed;
    margin-bottom: 10px;
    margin-left: 5px;
}
.menu-settings {
    float: right;
    background-color: transparent;
    border-color: transparent;
    color: white;
    transition: 0.3s;
    
  }
  .menu-settings:hover {
    color: var(--color-2);
    cursor: pointer;
    
  
  }
  .menu-top-div {
    margin-bottom: 5px;
    border-bottom: 2px solid white;
    border-image: linear-gradient(120deg, var(--color-1), var(--color-2)) 1;
  
  }
  .menu-pfp {
    border-top-left-radius: var(--borderradius);
    border-top-right-radius: var(--borderradius);
    display: inline-block;
    vertical-align: top;
  
  }
  .menu-username {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    color: white;
    font-size: 20px;
  }
  
  .stats-text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px var(--color-5);
    margin: 5px;
  
  }
  .stats-innertext {
    color: var(--color-2) !important;
  }
  .settings-text {
    font-size: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
  
  }
  .loading-screen {
    background-color: rgb(8, 8, 8);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  .loading-screen:hover {
    cursor:progress;

  }
  .loading-text {
    z-index: 1000;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10%;
  }
  